/*后台*/
.table .media .media-left img{
    width: 32px;
}
.table .media .media-heading{
    font-size: 12px;
}
.table .media .media-body{
    width: inherit;
}
table.order tr td{
    border-color: #ffffff #ffffff #dddddd #ffffff;
}
table.order td{
    text-align: top;
    vertical-align:top!important;
}
/*登录*/
.login{
    background-color: #ECECEC;
}
.login .login-top{
    padding:10px 0px;
}
.login .login-top .login-title{
    font-size: 46px;
    color: #1EC05B;
}
.login .login-top .login-desc{
    font-size: 24px;
    font-weight: 200;
}
.login .login-content{
    height: 480px;
    background-image: url(../img/login_bg.png);
}
.login .login-content .left img{
    display:block;
    margin:auto;
    margin-top: 120px;
}
.login .login-content .right{
    padding: 40px 50px 0px 50px;
    text-align: center;
}
.login .login-content .right h1{
    color: #4F8461;
}
.login .login-content .panel-login{
    border:0px;
    border-radius: 0px;
    margin-top: 20px;
}
.login .login-content .panel-login .panel-heading{
    background-color: #33C665;
    color: #ffffff;
    text-align: left;
    border-radius: 0px;
}
.login .login-content .panel-login .panel-heading .panel-title{
     font-size: 18px;
}
.login .login-content .panel-login .panel-body .input-group{
    margin-top: 10px;
}
.login .login-content .panel-login .panel-body .form-control,.login .login-content .panel-login .panel-body .btn{
    height: 42px;
}
.login .login-content .panel-login .panel-body .btn-login{
    background-color: #33C665;
    color: #ffffff;
    font-size: 18px;
    border-radius: 0px;
    margin-top: 15px;
    margin-bottom: 50px;
}