            <header id="header" class="main-header">
                <!-- Logo -->
                <a href="./" class="logo">
                    <!-- 迷你模式下Logo的大小为50X50 -->
                    <span class="logo-mini">后台</span>
                    <!-- 普通模式下Logo -->
                    <span class="logo-lg"><b>管理</b>后台</span>
                </a>
                <!-- 顶部通栏样式 -->
                <nav class="navbar navbar-static-top">
                    <!-- 边栏切换按钮-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div id="nav" class="pull-left">
                        <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
                        <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
                        </ul>
                    </div>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

<!--                             <li>
                                <a href="index/index/index" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i></a>
                            </li> -->

<!--                             <li>
                                <a href="javascript:;" data-toggle="wipecache" title="清空缓存">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li> -->

<!--                             <li class="hidden-xs">
                                <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
                            </li> -->

                            <!-- 账号信息下拉框 -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="__STATIC__/assets/img/avatar.png" class="user-image" alt="Admin">
                                    <span class="hidden-xs">{:session('admin_name')}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="__STATIC__/assets/img/avatar.png" class="img-circle" alt="">

                                        <p>
                                            {:session('admin_name')}                            
                                            <small>{:date('Y-m-d H:i:s',time())}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{:url('admin/admin/info')}" class="btn btn-default btn-flat addtabsit">个人资料</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{:url('admin/login/out')}" class="btn btn-default btn-flat">注销</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- 控制栏切换按钮 -->
<!--                             <li>
                                <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </header>