<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>注册</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css"/>
		<script type="text/javascript" src="../js/mui.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript" src="../js/app.js" ></script>
		<script type="text/javascript" src="../js/module.js" ></script>
		<script>
			$(function(){
				module.find();
			});
		</script>
	</head>
	<body class="login">
		<header class="mui-bar mui-bar-nav header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-icon mui-icon-home mui-pull-right header-right" href="index.html" data-jump="1"></a>
		</header>
		
		<div class="mui-content" id="content">
			<div class="img"  align="center">
				<img src="../img/member.png">
			</div>
			
			<div class="info">
				<div class="mui-row">
					<div class="mui-col-sm-2 mui-col-xs-2">
						<span class="iconfont">&#xe61e;</span>
					</div>
					<div class="mui-col-sm-8 mui-col-xs-8">
						<input type="text" id="mobile" placeholder="请输入手机号" v-model="info.mobile" />
					</div>
					<div class="mui-col-sm-2 mui-col-xs-2"></div>
				</div>
			    <div class="mui-row">
					<div class="mui-col-sm-2 mui-col-xs-2">
						<span class="iconfont">&#xe69c;</span>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<input type="number" id="code" placeholder="请输入验证码"  v-model="info.code" />
					</div>
					<div class="mui-col-sm-4 mui-col-xs-4">
						<a v-on:tap.stop="getCode">获取验证码</a>
					</div>			        
			    </div>				
			    <div class="mui-row">
					<div class="mui-col-sm-2 mui-col-xs-2">
						<span class="iconfont">&#xe619;</span>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<input type="password" placeholder="请设置新密码"  v-model="info.password" />
					</div>
					<div class="mui-col-sm-4 mui-col-xs-4"></div>			        
			    </div>
	
			</div>
			
			<div class="btn">
				<button class="mui-btn mui-btn-block btn-login" v-on:tap.stop="register">立即设置</button>
			</div>
		</div>
	</body>
</html>
